<br/>
<br/>
<br/>
<div class="container">
  <div>
    <%= form_tag json_index_path, { :multipart => true }  do %>
      <%= label_tag :file, "Select JSON file:" %>
      <%= file_field_tag :file, accept: 'application/json' %>
      <br />
      <br />
      <%= submit_tag "Upload..." %>
    <% end %>
    <br />
    <br />
    <%= link_to 'Back', root_path %>
  </div>
</div>

